@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
    background-image: url('luke-chesser-eICUFSeirc0-unsplash (1).jpg'); /* Set background image */
    background-size: cover; /* Cover the entire background */
    background-repeat: no-repeat; /* Do not repeat the background image */
    background-position: center; /* Center the background image */
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
    font-family: "Montserrat", sans-serif; /* Set a fallback font */
    color: #474242; /* Set text color to white */
}

#Container {
    margin-top: 20px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.name-and-image {
    display: flex;
    align-items: center;
}

.name-and-image h1 {
    margin-right: 10px;
    color: #ffffff; /* White */
}

.name-and-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

nav button {
    padding: 0.8rem 2.5rem; /* Adjust padding */
    font-weight: 700;
    background: rgb(255, 255, 255);
    color: blueviolet;
    border-radius: 0.5rem;
    border: 2px solid blueviolet;
    margin: 0.5rem; /* Add margin */
    transition: border-top 1s, border-left 1s, border-bottom 1s, border-right 1s, box-shadow 1s; /* Combine transition properties */
}

nav button:hover {
    border: 2px solid rgb(238, 103, 238); /* Change border color */
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px; /* Add box shadow */
}

.wrapper {
    display: inline-flex;
    list-style: none;
    height: 120px;
    width: 100%;
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
}

.wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: #e4405f;
    color: #fff;
}
.wrapper .google:hover,
.wrapper .google:hover .tooltip,
.wrapper .google:hover .tooltip::before {
    background: #f1de2b;
    color: #fff;
    ;
}
.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
    background: #4285f4;
    color: #fff;
    ;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
    background: #832a6f;
    color: #fff;
    
}